html, body{ min-height: 100%; padding: 0; margin: 0; display: block; color: #000 }
*{ box-sizing: border-box; font-family: monospace, sans-serif }
h1{ margin: 0 0 30px }
.page{ min-height: 100%; display: flex; background: #efefef; padding: 60px 40px 40px; justify-content: center; flex-wrap: wrap }
.btn{ font-size: 16px; line-height: 120%; display: flex; align-items: center; height: 40px; border: 0; color: #fff; background: #2e80f3; margin-top: 40px; text-align: center; width: 100%; border-radius: 8px; justify-content: center; outline: none; max-width: 150px; cursor: pointer }